[submodule "src/xcape"]
	path = src/xcape
	url = https://github.com/alols/xcape.git
[submodule "src/sxiv"]
	path = src/sxiv
	url = https://github.com/paradigm/sxiv
[submodule "src/paraPDF"]
	path = src/paraPDF
	url = https://github.com/paradigm/paraPDF.git
[submodule "src/slock"]
	path = src/slock
	url = http://git.suckless.org/slock
