[submodule "src/paraPDF"]
	path = src/paraPDF
	url = https://github.com/paradigm/paraPDF.git
[submodule "src/slock"]
	path = src/slock
	url = http://git.suckless.org/slock
[submodule "src/dmenu"]
	path = src/dmenu
	url = git://git.suckless.org/dmenu
[submodule "src/dwm"]
	path = src/dwm
	url = git@github.com:paradigm/dwm.git
[submodule "src/swarp"]
	path = src/swarp
	url = git://git.suckless.org/swarp
[submodule "src/xcape"]
	path = src/xcape
	url = https://github.com/alols/xcape.git
[submodule "src/sxiv"]
	path = src/sxiv
	url = git@github.com:paradigm/sxiv.git
